body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgb(226, 18, 33),
    rgb(34, 31, 31)
  );
}

h1 {
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
}

h4 {
  color: whitesmoke;
}

p {
  color: whitesmoke;
}

.center {
  margin: auto;
  width: 50%;
}

.navbar-brand-img {
  width: min(37vw, 100px);
}
